.description {
  position: relative;
}

.description__wrapper {
  max-width: 280px;
  min-height: 350px;
  margin-bottom: 20px;
  position: relative;
}

.description__header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.description__title {
  color: @default-secondary-color-dark;
}

.description__list {
  display: grid;
  row-gap: 20px;
}

.description__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  column-gap: 10px;
}

.description__icon {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgb(104, 183, 56);
  border: none;
}

.description__icon--health {
  width: 25px;
  height: 28px;
}

.description__icon--type {
  width: 27px;
  height: 29px;
}

.description__icon--feed {
  width: 26px;
  height: 30px;
}

.description__icon--time {
  width: 27px;
  height: 31px;
}

.description__text {
  min-width: 200px;
  min-height: 54px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-align: start;
  color: rgb(68, 68, 68);
}

// Tablet
@media (min-width: @tablet-width) {
  .description {
    margin-top: 30px;
  }

  .description__wrapper {
    max-width: 708px;
  }

  .description__header {
    display: flex;
    align-items: start;
  }

  .description__title {
    font-size: 60px;
  }

  .description__list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .description__item {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    align-items: center;
    padding: 0;
  }

  .description__icon {
    grid-row: 1 / 2;
  }

  .description__text {
    grid-row: 2 / 3;
    min-width: 207px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 105px 0 0;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .description__wrapper {
    max-width: 1220px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .description__list {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: none;
    column-gap: 70px;
  }

  .description__text {
    padding: 0;
  }
}
