// Mobile --------------------------------------------
.contact {
  position: relative;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 18px;
  min-height: 60px;
}

.contact__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
}

.contact__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(68, 68, 68);
}

// Catalog ------------------------------------------------------------------
.contact--catalog {
  background-color: rgb(242, 242, 242);
  width: 100%;
}

// Form ---------------------------------------------------------------------------
.contact--form {
  background-color: rgb(242, 242, 242);
}

// Tablet
@media (min-width: @tablet-width) {
  //Main --------------------------------------------------------------------
  .contact__wrapper {
    max-width: 708px;
  }

  .contact__wrapper > p {
    padding: 40px 40px 40px 40px;
  }

  .contact__title {
    font-size: 20px;
    line-height: 26px;
  }

  .contact__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  // Catalog ------------------------------------------------------------------
  .contact--catalog {
    background-color: rgb(242, 242, 242);
    width: 100%;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  //Main --------------------------------------------------------------------------
  .contact {
    position: relative;
    z-index: 2;
    margin: -83px 0 -282px 0;
  }

  .contact__wrapper {
    min-height: 199px;
    background-color: rgb(255, 255, 255);
  }

  // Catalog ------------------------------------------------------------
  .contact--catalog {
    background-color: transparent;
    width: 100%;
  }
}
