.page {
  max-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.page__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.page__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 320px;
  margin: 0;
  padding: 0;
}

.page__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
}
