.promo-item__title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo-item__text {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  min-height: 40px;
  padding: 10px 26px 10px 26px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: @default-primary-background;
}

.promo-item__link:hover {
  color: @hover-all-color-light;
  background-color: @hover-primary-background;
}

.promo-item__link:focus {
  color: @focus-all-color-light;
  background-color: @focus-primary-background;
}

.promo-item__link:active {
  color: @active-all-color-light;
  background-color: @active-primary-background;
}

.promo-item__link--text {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
