.catalog {
  position: relative;
}

.catalog__container {
  .container;
}

.catalog__heading {
  .heading-h1;
  text-align: left;
  display: flex;
  padding: 30px 0 35px 0;
  color: @default-secondary-color-dark;
}

.catalog__line {
  .deviding-line;
}
