.catalog {
  position: relative;
}

.catalog__container {
  .container;
}

.catalog__header {
  display: flex;
  margin: 28px 0 50px 0;
  color: @default-secondary-color-dark;
}

.catalog__heading {
  .heading-h1;
  text-align: left;
}

.catalog__line {
  .deviding-line;
}

// Tablet --------------------------------------------------------------------------------------
@media (min-width: @tablet-width) {
  .catalog__container {
    padding: 0;
  }

  .catalog__header {
    margin: 60px 0 35px -20px;
  }
}

// Desktop --------------------------------------------------------------------------------------
@media (min-width: @desktop-width) {
  .catalog__header {
    margin: 70px 0 35px 0;
  }
}
