.derivative {
  position: relative;
  padding: 40px 0 47px 0;
  overflow: hidden;
}

.derivative__container {
  .container;
}

.derivative__header {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px 0 0;
  margin: 10px 0;
}

.derivative__header--decoration::before,
.derivative__header--decoration::after {
  content: "";
  position: absolute;
  display: block;
  width: 300%;
  height: 2px;
  background-color: @default-primary-background;
  z-index: -1;
}

.derivative__header--decoration::before {
  display: none;
}

.derivative__header--decoration::after {
  top: 15px;
  left: 0;
}

.derivative__title {
  .heading-h3;
}

// Tablet
@media (min-width: @tablet-width) {
  .derivative {
    padding: 58px 0;
  }

  .derivative__container {
    padding: 0;
  }

  .derivative__header {
    padding-left: 40px;
  }

  .derivative__header--decoration::before {
    display: block;
    top: 20px;
    left: -800px;
    width: 266%;
    z-index: -1;
  }

  .derivative__header--decoration::after {
    top: 20px;
    left: 0;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .derivative {
    padding: 60px 0 60px 0;
  }

  .derivative__container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 896px 245px;
    column-gap: 80px;
    align-items: center;
    padding: 0;
  }

  .derivative__subproduct {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .derivative__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: start;
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 80px;
  }

  .derivative__header--decoration::before {
    left: -200px;
    width: 500%;
  }

  .derivative__header--decoration::after {
    width: 900%;
  }

  .derivative__present {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }
}
