.derivative {
  position: relative;
  padding: 20px 0 35px 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding: 64px 0 75px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 0 62px 0;
  }
}

.derivative__container {
  .container;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 896px 245px;
    column-gap: 80px;
    align-items: center;
    padding: 0;
  }
}

.derivative__header {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px 0 0;
  margin: 7px 0 10px 0;

  @media (min-width: @tablet-width) {
    padding: 0 40px 0 40px;
    margin: 5px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: start;
    padding-left: 40px;
    margin-left: -40px;
    margin-top: 7px;
    margin-bottom: 80px;
  }
}

// Полоски ----------------------------------------------------------------------------------------
.derivative__header--decoration::before,
.derivative__header--decoration::after {
  content: "";
  position: absolute;
  display: block;
  width: 300%;
  height: 2px;
  background-color: @default-primary-background;
  z-index: -1;
}

.derivative__header--decoration::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    top: 22px;
    left: -800px;
    width: 266%;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 23px;
    left: -200px;
    width: 500%;
  }
}

.derivative__header--decoration::after {
  top: 15px;
  left: 0;

  @media (min-width: @tablet-width) {
    top: 22px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    top: 23px;
    width: 900%;
  }
}

.derivative__title {
  .heading-h3;
}

.derivative__subproduct {
  @media (min-width: @desktop-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.derivative__present {
  @media (min-width: @desktop-width) {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }
}
