// Картинка и фон---------------------------------------------------
.present {
  position: relative;
  display: block;
  min-height: 290px;
  background-image: url("../img/pictures/cat-inthebag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.present::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
}

.present__text {
  font-family: @font-secondary;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 160px 40px 5px 40px;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.present__text::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 100px;
  width: 78px;
  height: 80px;
  background-image: url("../img/icons/icon_present.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

// Tablet
@media (min-width: @tablet-width) {
  .present {
    min-height: 200px;
    background-image: url("../img/pictures/cat-inthebag-tablet.png");
  }

  .present::after {
    min-height: 200px;
  }

  .present__text {
    padding: 60px 70px 50px 400px;
    text-align: left;
  }

  .present__text::after {
    top: 50px;
    left: 50px;
    width: 80px;
    height: 83px;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .present {
    padding: 0;
    display: block;
    width: 245px;
    min-height: 288px;
    background-image: url("../img/pictures/cat-inthebag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .present::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 288px;
    background-color: rgba(104, 183, 56, 0.85);
  }

  .present__text {
    padding: 160px 45px 5px 35px;
    text-align: center;
  }

  .present__text::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 76px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icons/icon_present.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
