.product-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  width: 320px;
  height: 209px;
  padding: 20px;
  box-sizing: border-box;
}

.product-item__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.product-item__title {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.product-item__table {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.product-item__button {
  grid-column: 1 / -1;
}
