.product {
  position: relative;
}

.product__list {
  display: grid;
  row-gap: 35px;
}

.product__item {
  display: grid;
  grid-template-columns: 120px 160px;
  grid-template-rows: repeat(2, auto);
  row-gap: 14px;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: @default-all-color-light;
}

.product__picture {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 0 20px;
}

.product__annotation {
  display: grid;
  grid-column: 2 / 3;
  row-gap: 10px;
  width: 140px;
  padding: 10px 0 0 20px;
}

.product__title {
  font-family: @font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
}

.product__title a {
  padding: 0 45px 0 0;
}

.product__table {
  .table;
}

.product__btn {
  .primary-btn;
  grid-column: 1 / -1;
}

.product__line {
  .deviding-line;
}

// Больше товаров --------------------------------------------------------------------------------
.product__item--more {
  position: relative;
  grid-template-columns: none;
  grid-template-rows: none;
  align-self: center;
}

.product__item--more::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 125px;
  width: 30px;
  height: 30px;
  margin: 20px 0 10px 0;
  mask: url("../img/steck.svg#plus");
  mask-size: cover;
  background-color: rgb(211, 211, 211);
  background-repeat: no-repeat;
  text-decoration: none;
}

.product__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 65px 0 0 0;
  box-sizing: border-box;
}

.product__title--more {
  margin: 0;
  padding: 0;
}

.product__text {
  font-family: @font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: @default-third-color;
  text-align: center;
  margin: 0;
  padding: 7px 0 7px 0;
}

.product__redirect {
  .third-btn;
  margin: 0;
}

// Tablet --------------------------------------------------------------------------------------
@media (min-width: @tablet-width) {
  .product__list {
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 5px;
  }

  .product__item {
    grid-template-columns: 250px;
    grid-template-rows: 250px min-content min-content;
    justify-content: center;
    justify-items: center;
    padding: 40px;
    row-gap: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#ffffff 23%, @default-third-background 12%);
    position: relative;
  }

  .product__picture {
    width: 200px;
    height: 210px;
    padding: 5px 0 0 0;
  }

  .product__annotation {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 157px;
    row-gap: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .product__title {
    margin: 0;
    padding: 5px 60px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product__title--break {
    display: none;
  }

  // Больше товаров --------------------------------------------------------------------------------
  .product__item--more {
    grid-template-columns: 250px;
    grid-template-rows: min-content min-content;
    height: 429px;
    padding: 40px;
    margin-top: 140px;
    box-sizing: border-box;
    background-color: @default-all-color-light;
    border: 1px solid @default-third-background;
    background-image: none;
    position: relative;
  }

  .product__item--more::after {
    top: -18px;
    left: 136px;
    width: 60px;
    height: 60px;
    mask: url("../img/steck.svg#plus_tablet");
    mask-size: cover;
    background-color: rgb(211, 211, 211);
    background-repeat: no-repeat;
    margin: 65px 0 0 0;
  }

  .product__title--more {
    font-size: 20px;
    line-height: 24px;
    padding: 0 40px 0 40px;
  }

  .product__content {
    grid-row: 2 / 3;
    row-gap: 22px;
    margin: 118px 0 40px 0;
    padding: 0;
  }

  .product__text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 15px 0 15px;
  }

  .product__btn,
  .product__redirect {
    grid-row: 3 / -1;
    padding: 10px 30px;
    width: 100%;
    margin-top: 37px;
  }
}

// Desktop --------------------------------------------------------------------------------------
@media (min-width: @desktop-width) {
  .product__list {
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 0;
  }

  .product__item {
    grid-template-rows: 235px 155px 95px;
    grid-template-columns: 169px;
    row-gap: 0;
    padding: 45px 40px 40px 40px;
  }

  .product__picture {
    padding: 0;
  }

  .product__title {
    padding: 0 15px;
  }

  .product__annotation {
    row-gap: 20px;
  }

  // Product More -----------------------------------------------------------------------------------
  .product__item--more {
    position: relative;
    grid-template-columns: 169px;
    grid-template-rows: 85px 155px 140px;
    height: 431px;
    align-self: center;
    margin-top: 125px;
  }

  .product__item--more::after {
    top: -16px;
    left: 95px;
  }

  .product__content {
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
    row-gap: 25px;
  }

  .product__text {
    padding: 0;
  }

  .product__redirect {
    grid-column: 1 / 2;
  }

  .product__btn,
  .product__redirect {
    margin-top: 33px;
  }
}
