.subproduct-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  min-height: 98px;
  align-self: center;
  justify-self: center;
}

.subproduct-item__title {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  font-family: @font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(34, 34, 34);
  text-align: left;
  margin: 0;
  padding: 10px 0 10px 0;
}

.subproduct-item__annotation {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.subproduct-item__label {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: @default-third-color;
  text-align: center;
}

.subproduct-item__btn {
  .primary-btn;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}

// Tablet
@media (min-width: @tablet-width) {
  .subproduct-item {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    min-height: 85px;
  }

  .subproduct-item__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 20px;
    line-height: 20px;
  }

  .subproduct-item__label {
    font-size: 16px;
    line-height: 20px;
  }

  .subproduct-item__annotation {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-end;
    gap: 20px;
  }

  .subproduct-item__btn {
    width: 632px;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .subproduct-item {
    grid-template-columns: 250px 350px 244px;
    grid-template-rows: none;
    width: 100%;
    min-height: 40px;
  }

  .subproduct-item__title {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;
  }

  .subproduct-item__annotation {
    grid-column: 2 / 3;
    justify-content: space-between;
  }

  .subproduct-item__label {
    align-self: flex-end;
  }

  .subproduct-item__btn {
    grid-column: 3 / 4;
    width: 244px;
  }
}
