.subproduct {
  position: relative;
  padding: 25px 0 35px 0;

  @media (min-width: @tablet-width) {
    padding: 77px 0 71px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.subproduct__list {
  display: grid;
  row-gap: 21px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 708px;
    row-gap: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 896px;
    padding: 0;
  }
}

.subproduct__title {
  @media (min-width: @tablet-width) {
    padding-bottom: 60px;
  }
}
