.subproduct-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgb(205, 205, 205);
  border-left: none;
  border-right: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 300px 332px;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    padding: 28px 37px 30px 37px;
    border: 1px solid rgb(205, 205, 205);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 301px 302px 244px;
    grid-template-rows: auto;
    column-gap: 23px;
    margin: 0;
    padding: 15px 0;
    align-items: center;
    justify-self: center;
    border-left: none;
    border-right: none;
  }
}

.subproduct-item:last-child {
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-bottom: 28px;
  }
}

.subproduct-item__title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: @font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(34, 34, 34);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }
}

.subproduct-item__annotation {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  margin: 14px 0;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 240px 55px;
    margin: 0;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
  }
}

.subproduct-item__label,
.subproduct-item__price {
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: @default-third-color;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.subproduct-item__label {
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.subproduct-item__price {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.subproduct-item__btn {
  .primary-btn;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  @media (min-width: @tablet-width) {
    grid-row: 2 / 3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
