.social__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 132px;
  margin: 0;
  padding: 0;
}

.social__link {
  border: none;
  outline: none;
}

.social__link:hover {
  fill: @icon-hover-fill;
}

.social__link:focus {
  fill: @icon-focus-fill;
}

.social__link:active {
  fill: @icon-active-fill;
}
