.example {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.example__container {
  background-color: rgb(234, 234, 234);
}

.example__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.example__title {
  grid-column: 1 / -1;
  color: @default-secondary-color-dark;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.example__text {
  grid-column: 1 / -1;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgb(68, 68, 68);
  margin: 0;
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  position: relative;
}

.example__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 124px;
  min-height: 70px;
  margin: 0;
  padding: 5px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 10px;
}

.example__subtitle {
  line-height: 24px;
  color: @default-secondary-color-dark;
}

.example__subtext {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: rgb(68, 68, 68);
  background-color: rgb(234, 234, 234);
  margin-top: -10px;
  position: relative;
}

.example__expenses {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
}

.example__expenses--text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.example__slider {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

// Tablet
@media (min-width: @tablet-width) {
  .example__container {
    background-color: rgb(255, 255, 255);
  }

  .example__wrapper {
    row-gap: 60px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 0;
  }

  .example__subtitle {
    font-size: 30px;
    line-height: 37px;
  }

  .example__subtext {
    font-size: 14px;
    line-height: 14px;
    color: rgb(68, 68, 68);
    background-color: rgb(255, 255, 255);
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: rgb(68, 68, 68);
    margin: 0 33px 0 0;
  }

  .example__list {
    grid-column: 1 / 2;
  }

  .example__item {
    min-width: 162px;
    justify-items: start;
    align-items: center;
    position: relative;
  }

  .example__expenses {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
  }

  .example__expenses--text {
    font-size: 20px;
    line-height: 20px;
    align-self: flex-end;
  }

  .example__slider {
    position: relative;
    margin-top: 180px;
  }
}
