.navigation {
  position: relative;
  width: 100%;
  padding: 15px 0 0 0;
  background-color: rgb(255, 255, 255);
}

.navigation__wrapper {
  position: relative;
}

.navigation__item:not(:last-child) {
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.navigation__link {
  display: block;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @default-secondary-color-dark;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.navigation__link:hover {
  color: @hover-secondary-color-dark;
}

.navigation__link:focus {
  color: @focus-secondary-color-dark;
}

.navigation__link:active {
  color: @active-secondary-color-dark;
}

@media (min-width: @mobile-width-only) {
  // .navigation--opened {
  //   position: absolute;
  //   width: 100%;
  //   top: 50px;
  //   left: 0;
  // }

  .navigation--closed {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .navigation__wrapper {
    max-width: 100%;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 29px;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    padding: 0;
    background-color: transparent;
  }

  .navigation__list {
    margin-left: 500px;
  }

  .navigation__item {
    border: none;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 20px;
    color: rgb(255, 255, 255);
  }
}
