.navigation {
  position: relative;
  width: auto;
  padding: 10px 0 0 0;
}

.navigation__wrapper {
  max-width: 320px;
  position: relative;
}

.navigation__link {
  display: block;
  width: 320px;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @default-secondary-color-dark;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.navigation__link:hover {
  color: @hover-secondary-color-dark;
}

.navigation__link:focus {
  color: @focus-secondary-color-dark;
}

.navigation__link:active {
  color: @active-secondary-color-dark;
}

// /* Бургер меню */
.navigation__burger {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -7px;
  left: -27px;
  z-index: 3;
  border: none;
  cursor: pointer;
}

.navigation--closed .navigation__burger::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
  width: 24px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 6px 0 0  rgb(0, 0, 0), 0 12px 0 0  rgb(0, 0, 0);
}

.navigation--opened .navigation__burger {
  top: 0;
  right: auto;
  left: 0;


  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 10px;
    bottom: 10px;
    right: 0;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: @tablet-width) {
  .navigation__wrapper {
    max-width: 708px;
  }

  .navigation__burger {
    display: none;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .navigation__item {
    margin: 0 0 0 32px;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 24px;
  }

  .navigation--closed .navigation__item {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .navigation__list {
    width: 475px;
  }

  .navigation__link {
    color: rgb(255, 255, 255);
  }

  .navigation--closed .navigation__item {
    display: none;
  }
}

@media (max-width: @mobile-width-only) {
  .navigation--closed .navigation__item {
    display: none;
  }
}
