// Общий стиль <fieldset>------------------------------------------------------------------------------------
.configuration-group {
  display: grid;
  row-gap: 18px;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 628px;
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

// Общие блоки----------------------------------------------------------------------------------------
.configuration-group--introduction {
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.configuration-group--type {
  row-gap: 5px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    border: 1px solid @default-border-color;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    row-gap: 16px;
    margin-bottom: 0;
    padding: 27px 0 25px 21px;
  }
}

.configuration-group--contact {
  position: relative;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    margin-bottom: 0;
  }
}

.configuration-group--comment {
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    height: 155px;
    margin-bottom: 116px;
    padding: 10px 0;
  }
}

.configuration-group--additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 14px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    row-gap: 44px;
    column-gap: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(4, 300px);
    margin-bottom: 0;
  }
}

.configuration-group--button {
  width: 100%;
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    min-height: 54px;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    justify-content: start;
    padding: 0;
  }
}

// Заголовки блоков <legend>----------------------------------------------------------------------------------------------------
.configuration-group__legend {
  .heading-h3;
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  background-color: #ffffff;

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.configuration-group__legend--comment {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}

.configuration-group__legend--contact {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 77px;
  }
}

@media (min-width: @tablet-width) {
  .configuration-group__legend--break {
    display: none;
  }
}

.configuration-group__legend--additional {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.configuration-group__legend--decoration::before,
.configuration-group__legend--decoration::after {
  content: "";
  position: absolute;
  display: block;
  width: 900%;
  height: 2px;
  background-color: @default-primary-background;
  z-index: -1;
}

.configuration-group__legend--decoration::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    top: 23px;
    left: -800px;
    width: 500%;
    z-index: -1;
  }
}

.configuration-group__legend--decoration::after {
  top: 13px;
  left: 0;

  @media (min-width: @tablet-width) {
    top: 23px;
    left: 0;
  }
}

// Детали блоков-------------------------------------------------------------------------------------------------------------------
.configuration-group__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  position: relative;
}

.configuration-group__label {
  .label-field;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    padding-right: 15px;
  }
}

// Imput стилизован через миксин
.configuration-group__input {
  .input-field;
  width: 100%;
}

input[type="number"] {
  appearance: textfield;
}

// Раздел - Комментарии
.configuration-group__comment {
  .input-field;
  width: 100%;
  min-height: 125px;
  text-align: left;
  padding: 10px;

  @media (min-width: @tablet-width) {
    height: 155px;
    padding: 10px 20px;
  }
}

// Радиокнопки -----------------------------------------------------------------------------------------------
.configuration-group__radio {
  appearance: none;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 30px 0 10px 45px;
  }
}

.configuration-group__label--radio {
  padding: 10px 0 10px 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 7px 0 10px 66px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.configuration-group__label--radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 50%;
  z-index: 1;

  @media (min-width: @tablet-width) {
    top: -5px;
    left: 5px;
    width: 40px;
    height: 40px;
  }
}

.configuration-group__label--radio::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: @default-primary-background;
  border-radius: 50%;
  outline: none;
  opacity: 0;
  background-position: center;
  background-size: 15px 15px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 17px;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }
}

.configuration-group__radio:hover + .configuration-group__label--radio::before {
  outline: 1px solid rgb(186, 186, 186);
}

.configuration-group__radio:focus + .configuration-group__label--radio::before {
  outline: 1px solid rgb(186, 186, 186);
}

.configuration-group__radio:checked + .configuration-group__label--radio::after {
  opacity: 1;
}

// Чекбоксы-----------------------------------------------------------------------------------------------------
.configuration-group__checkbox {
  appearance: none;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 30px 0 10px 45px;
  }
}

.configuration-group__label--checkbox {
  padding: 5px 0 5px 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 9px 0 0 60px;
  }
}

.configuration-group__label--checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(205, 205, 205);
  z-index: 1;

  &:hover {
    border-color: rgb(186, 186, 186);
  }

  &:focus {
    border-color: rgb(186, 186, 186);
  }

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.configuration-group__label--checkbox::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  display: block;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/checkbox-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 14px;
  opacity: 0;
  object-fit: contain;
  z-index: 2;

  @media (min-width: @tablet-width) {
    top: 13px;
    left: 10px;
    width: 24px;
    height: 19px;
  }
}

.configuration-group__checkbox:hover + .configuration-group__label--checkbox::before {
  outline: 1px solid rgb(186, 186, 186);
}

.configuration-group__checkbox:focus + .configuration-group__label--checkbox::before {
  outline: 1px solid rgb(186, 186, 186);
}

.configuration-group__checkbox:checked + .configuration-group__label::after {
  opacity: 1;
}

// Почта и Телефон----------------------------------------------------------------------------------------------
.configuration-group__input--email,
.configuration-group__input--tel {
  width: 100%;
}

.configuration-group__icon {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 12px;
  fill: transparent;
  stroke: rgb(34, 34, 34);

  @media (min-width: @tablet-width) {
    top: 17px;
    right: 14px;
  }
}
