.configuration {
  position: relative;
  background-color: #ffffff;
}

.configuration__container {
  .container;
}

// Заголовок и параграф ------------------------------------------------------------------------------------------
.configuration__header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.configuration__heading {
  .heading-h1;
  text-align: left;
  padding-bottom: 20px;
}

.configuration__paragraph {
  font-family: @font-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: @default-secondary-color-dark;
}

// Формы для заполнения списком --------------------------------------------------------------------------------
.configuration__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}

.configuration__footnote {
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: @default-secondary-color-dark;
}

// Tablet ----------------------------------------------------------------------------------------------------------
@media (min-width: @tablet-width) {
  .configuration__btn {
    width: 284px;
  }
}

// Desktop ----------------------------------------------------------------------------------------------------------
@media (min-width: @desktop-width) {
  .configuration__btn {
    width: 570px;
  }
}
