.configuration {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.configuration__container {
  .container;
}

// Заголовок и параграф ------------------------------------------------------------------------------------------
.configuration__header {
  margin-top: 27px;
}

.configuration__heading {
  .heading-h1;
  text-align: left;
}

.configuration__paragraph {
  font-family: @font-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: @default-secondary-color-dark;
  margin: 0;
  margin-top: 38px;
  padding: 0;
}

// Формы для заполнения списком --------------------------------------------------------------------------------
.configuration__list {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 20px;
}

.configuration__footnote {
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: @default-secondary-color-dark;
}

// Кнопка ---------------------------------------------------------------------------------------------------------
.configuration__btn {
  .primary-btn;
}

// Tablet ----------------------------------------------------------------------------------------------------------
@media (min-width: @tablet-width) {
  .configuration__container {
    width: 628px;
  }

  .configuration__paragraph {
    font-size: 20px;
    line-height: 30px;
  }

  .configuration__btn {
    width: 284px;
  }

  .configuration__footnote {
    font-size: 16px;
    line-height: 16px;
  }
}

// Desktop ----------------------------------------------------------------------------------------------------------
@media (min-width: @desktop-width) {
  .configuration__container {
    width: 1220px;
  }

  .configuration__wrapper {
    display: grid;
    row-gap: 40px;
  }

  .configuration__btn {
    width: 570px;
  }
}
