.configuration__wrapper {
  display: grid;
  row-gap: 20px;
}

.configuration-group {
  display: grid;
  row-gap: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.configuration-group__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  position: relative;
}

// Параметры питомца: Имя Вес Возраст ----------------------------------------------------------------------------------------
.configuration-group__label {
  .label-field;
}

.configuration-group__input {
  .input-field;
  width: 100%;
}

// Тип программы - радиокнопки ----------------------------------------------------------------------------
.configuration-group__radio,
.configuration-group__checkbox {
  appearance: none;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
}

.configuration-group__label--radio {
  padding-left: 50px;
  cursor: pointer;
}

.configuration-group__label--radio::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 50%;
  z-index: 1;
}

.configuration-group__label--radio::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: @default-primary-background;
  border-radius: 50%;
  outline: none;
  opacity: 0;
  background-position: center;
  background-size: 15px 15px;
  z-index: 2;
}

.configuration-group__radio:checked + .configuration-group__label--radio::after {
  opacity: 1;
}

// Контактная информация ---------------------------------------------------------------------------------------
.configuration-group--contact {
  position: relative;
}

.configuration-group__subtitle {
  .heading-h3;
  padding-top: 20px;
  padding-bottom: 40px;
}

.configuration-group__input--email,
.configuration-group__input--tel {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ffffff inset;
}

.configuration-group__icon {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  right: 12px;

  &:hover {
    stroke: @icon-hover-fill;
  }

  &:focus {
    stroke: @icon-focus-fill;
  }

  &:active {
    stroke: @icon-active-fill;
  }
}

// Комментарии ---------------------------------------------------------------------------------------------------
.configuration-group__comment {
  .input-field;
  width: 100%;
  height: 150px;
  text-align: left;
  padding: 10px;
}

// Дополнительно ----------------------------------------------------------------------------------------------------
.configuration-group--additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.configuration-group__label--checkbox {
  padding-left: 50px;
  cursor: pointer;
}

.configuration-group__label--checkbox::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(205, 205, 205);
  z-index: 1;
}

.configuration-group__label--checkbox::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  display: block;
  width: 18px;
  height: 14px;
  background-image: url("../img/form/checkbox-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 14px;
  opacity: 0;
  object-fit: contain;
  z-index: 2;
}

.configuration-group__checkbox:checked + .configuration-group__label::after {
  opacity: 1;
}

.configuration-group--button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

// Tablet ----------------------------------------------------------------------------------------------------------
@media (min-width: @tablet-width) {
  .configuration-group {
    width: 628px;
  }

  // Радиокнопки
  .configuration-group--type {
    border: 1px solid @default-border-color;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }

  .configuration-group__label--radio {
    padding-left: 70px;
  }

  .configuration-group__label--radio::before {
    top: 0;
    left: 15px;
    width: 40px;
    height: 40px;
  }

  .configuration-group__label--radio::after {
    top: 11px;
    left: 26px;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }

  .configuration-group__icon--tel,
  .configuration-group__icon--email {
    top: 18px;
    right: 12px;
  }

  // Комментарий
  .configuration-group__comment {
    height: 175px;
  }

  // Дополнительная информация
  .configuration-group--additional {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
  }

  .configuration-group__label--checkbox::before {
    width: 40px;
    height: 40px;
  }

  .configuration-group__label--checkbox::after {
    top: 13px;
    left: 10px;
    width: 24px;
    height: 19px;
  }

  // Кнопка
  .configuration-group--button {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .configuration__footnote {
    margin-left: -250px;
  }
}

// Desktop ----------------------------------------------------------------------------------------------------------
@media (min-width: @desktop-width) {
  .configuration-group {
    width: 100%;
  }

  .configuration__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    justify-content: space-between;
  }

  .configuration-group--contact {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    justify-content: space-between;
  }

  .configuration-group--additional {
    grid-template-rows: none;
    grid-template-columns: repeat(4, auto);
  }

  .configuration-group--button {
    justify-content: start;
  }

  .configuration__footnote {
    margin-left: 75px;
  }
}
