.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo__link--image {
  background-image: url("../img/icons/header-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 38px;
}
