.logo__link--image {
  background-image: url("../img/icons/header-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 38px;
}

.logo__link--text {
  background-position: center;
  width: 101px;
  height: 18px;
}
