.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}
