.description {
  position: relative;
  padding-bottom: 15px;
}

.description__container {
  .container;
}

.description__list {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  row-gap: 7px;
}

.description__title {
  .heading-h2;
  text-align: left;
  color: @default-secondary-color-dark;
}

.description__item {
  position: relative;
  padding: 0 0 20px 80px;
}

.description__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: rgb(104, 183, 56);
  border: none;
  outline: none;
}

.description__item::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.description__item--health::after {
  width: 25px;
  height: 28px;
  background-image: url("../img/description-items/health.svg");
}

.description__item--type::after {
  width: 27px;
  height: 29px;
  background-image: url("../img/description-items/type.svg");
}

.description__item--feed::after {
  width: 26px;
  height: 30px;
  background-image: url("../img/description-items/feed.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.description__item--time::after {
  width: 27px;
  height: 31px;
  background-image: url("../img/description-items/time.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.description__text {
  min-width: 200px;
  min-height: 54px;
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-align: start;
  color: @default-third-color;
  margin: 0;
}

.description__text--break {
  display: none;
}

.description__line {
  display: none;
}

// Tablet
@media (min-width: @tablet-width) {
  .description {
    padding-top: 55px;
  }

  .description__container {
    padding: 0;
  }

  .description__title {
    margin: -23px 0 0 0;
  }

  .description__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin-top: 72px;
    column-gap: 60px;
    row-gap: 66px;
    counter-reset: counter 0;
  }

  .description__item {
    position: relative;
    min-height: 140px;
    padding: 110px 60px 0 0;
  }

  .description__item::before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }

  .description__item::after {
    top: 27px;
    left: 27px;
  }

  .description__text {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    counter-increment: counter 1;
  }

  .description__text::after {
    content: counter(counter);
    position: absolute;
    top: -150px;
    left: 115px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: rgb(242, 242, 242);
    z-index: -1;
  }

  .description__text--break {
    display: block;
  }

  .description__line {
    .deviding-line;
    display: block;
    background-color: rgb(230, 230, 230);
    margin: 50px 0 20px 0;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .description {
    padding-top: 95px;
  }

  .description__list {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: none;
    column-gap: 80px;
    margin-top: 72px;
  }

  .description__item {
    position: relative;
    padding: 90px 0 20px 0;
  }

  .description__text {
    padding: 20px 0 0 0;
  }

  .description__text::after {
    top: -130px;
  }

  .description__line {
    display: none;
  }
}
