.example {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(234, 234, 234);
}

.example__container {
  .container;
  display: grid;
  row-gap: 20px;
}

.example__header {
  grid-column: 1 / -1;
  margin: 23px 2px 21px 9px;
}

.example__title {
  .heading-h2;
  color: @default-secondary-color-dark;
}

.example__text {
  grid-column: 1 / -1;
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @default-third-color;
  margin: 0;
  margin-left: 2px;
}

.example__info {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;
}

.example__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
}

.example__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 124px;
  padding: 14px;
  margin: 0;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 10px;
}

.example__subtitle {
  .heading-h3;
  text-transform: uppercase;
  padding-left: 6px;
}

.example__subtext {
  position: relative;
  font-family: @font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: @default-third-color;
  background-color: rgb(234, 234, 234);
  max-width: 77px;
  margin: 0;
  margin-bottom: -25px;
  padding: 8px 10px 0 15px;
}

.example__expenses {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 9px;
}

.example__expenses--text {
  font-family: @font-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: @default-secondary-color-dark;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.example__expenses--dsc {
  margin-right: 5px;
}

// Слайдер -----------------------------------------------------------------------------------------------------
.example__slider {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
}

// Tablet
@media (min-width: @tablet-width) {
  .example {
    background-image: linear-gradient(#ffffff 595px, #eaeaea 55%);
  }

  .example__container {
    row-gap: 60px;
    padding: 0;
  }

  .example__header {
    margin: -38px 0 0 0;
  }

  .example__subtitle {
    font-size: 30px;
    line-height: 37px;
    padding: 0;
  }

  .example__subtext {
    font-size: 14px;
    line-height: 14px;
    max-width: 162px;
    margin-bottom: -13px;
    padding: 20px 0 6px 0;
    background-color: @default-all-color-light;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .example__info {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: none;
    justify-content: space-between;
    align-items: center;
  }

  .example__list {
    grid-column: 1 / 2;
    column-gap: 43px;
  }

  .example__item {
    position: relative;
    min-width: 162px;
    justify-items: start;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }

  .example__expenses {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    padding: 0;
  }

  .example__expenses--text {
    font-size: 20px;
    line-height: 20px;
    align-self: flex-end;
    min-height: 30px;
  }

  .example__expenses--dsc {
    margin-right: 0;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .example {
    position: static;
    min-height: 462px;
    padding: 30px 0 60px 0;
    background-image: linear-gradient(#ffffff 190px, #eaeaea 25%);
  }

  .example__container {
    display: grid;
    grid-template-columns: 450px 150px 560px;
    grid-template-rows: repeat(5, auto);
    column-gap: 10px;
    row-gap: 0;
  }

  .example__header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0;
  }

  .example__text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0 17px 70px 0;
  }

  .example__info {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    grid-template-rows: repeat(2, auto);
    row-gap: 55px;
    margin: 0;
  }

  .example__list {
    grid-column: 1 / 2;
    justify-content: space-between;
  }

  .example__subtext {
    font-size: 14px;
    line-height: 14px;
    background-color: rgb(234, 234, 234);
  }

  .example__expenses {
    grid-column: 1 / 2;
    flex-direction: row;
    justify-content: start;
    padding: 0;
    margin: 0;
  }

  .example__expenses--text {
    align-self: flex-start;
  }

  .example__expenses--dsc {
    margin-right: 66px;
  }

  .example__slider {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
  }
}
