.programme {
  position: relative;
  min-height: 266px;
  padding: 0;
  z-index: 2;
}

.programme__container {
  .container;
}

.programme__list {
  display: grid;
  row-gap: 20px;
}

.programme__item {
  background-color: @default-third-background;
  padding: 20px;
  position: relative;
}

.programme__subtitle {
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: 10px 0 10px 70px;
  font-family: @font-main;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 37px;
  text-align: start;
  text-transform: uppercase;
}

.programme__subtitle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -6px;
  left: -70px;
  background-color: @default-primary-background;
  border-radius: 50%;
}

.programme__subtitle--slim::after {
  content: "";
  position: absolute;
  mask: url("../img/steck.svg#slim") 50% 50%;
  mask-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  width: 36px;
  height: 50px;
  top: -9px;
  left: -63px;
  z-index: 2;
}

.programme__subtitle--pro::after {
  content: "";
  position: absolute;
  mask: url("../img/steck.svg#pro") 50% 50%;
  mask-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  width: 67px;
  height: 29px;
  top: 4px;
  left: -77px;
  z-index: 2;
}

.programme__text {
  font-family: @font-secondary;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  text-align: start;
  align-items: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

.programme__line {
  width: 240px;
  height: 1px;
  margin: auto;
  padding: 0;
  background-color: rgb(217, 217, 217);
  border: none;
}

.programme__link {
  display: flex;
  align-items: center;
  width: 150px;
  min-height: 34px;
  margin: 5px 0 0 0;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.programme__label {
  position: relative;
  font-family: @font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: @default-secondary-color-dark;
  text-transform: uppercase;
}

.programme__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 102px;
  width: 24px;
  height: 12px;
  background-image: url("../img/icons/icon-arrow-24.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}

.programme__link:hover .programme__label::after {
  background-image: url("../img/icons/icon-arrow-32.svg");
  width: 32px;
}

.programme__link:focus .programme__label::after {
  background-image: url("../img/icons/icon-arrow-32.svg");
  width: 32px;
}

.programme__link:active .programme__label::after {
  background-image: url("../img/icons/icon-arrow-32.svg");
  width: 32px;
  opacity: 0.3;
}

// Tablet
@media (min-width: @tablet-width) {
  .programme__container {
    padding: 0;
  }

  .programme__list {
    grid-template-rows: repeat(2, 372px);
    row-gap: 27px;
  }

  .programme__item {
    padding: 71px 315px 40px 52px;
  }

  .programme__subtitle {
    font-size: 36px;
    line-height: 36px;
    margin: 4px 0 8px 0;
  }

  .programme__subtitle::before {
    top: 15px;
    left: 393px;
    width: 200px;
    height: 200px;
  }

  .programme__subtitle--slim::after {
    width: 140px;
    height: 194px;
    top: 4px;
    left: 423px;
  }

  .programme__subtitle--pro::after {
    width: 268px;
    height: 112px;
    top: 58px;
    left: 363px;
  }

  .programme__text {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 0 0 0;
  }

  .programme__link {
    width: 165px;
    min-height: 38px;
    margin: 48px 0 0 0;
  }

  .programme__label {
    font-size: 20px;
    line-height: 20px;
  }

  .programme__label::after {
    top: 4px;
    left: 132px;
  }

  .programme__line {
    display: none;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .programme {
    padding: 0;
    padding-top: 76px;
  }

  .programme__container {
    padding: 0;
  }

  .programme__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    grid-template-rows: none;
    column-gap: 80px;
  }

  .programme__item {
    padding: 74px 0 53px 52px;
  }

  .programme__subtitle {
    margin: 5px 0 40px 162px;
  }

  .programme__subtitle::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -162px;
    width: 100px;
    height: 106px;
  }

  .programme__text {
    padding: 35px 30px 0 0;
  }

  .programme__subtitle--slim::after {
    width: 70px;
    height: 97px;
    top: -34px;
    left: -147px;
  }

  .programme__subtitle--pro::after {
    width: 134px;
    height: 56px;
    top: -8px;
    left: -179px;
  }

  .programme__link {
    margin: 23px 0 0 0;
  }

  .programme__line {
    display: none;
  }
}
