.promo {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.promo__container {
  .container;
}

.promo__body {
  position: relative;
  z-index: 2;
}

.promo__body:not(:last-child) > * {
  margin: 0;
  margin-bottom: 27px;
}

// Картинка и фон --------------------------------------------------------------------------------------------------------
.promo::before,
.promo::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 302px;
}

.promo::before {
  background-image: url("../img/promo/mobile-promo-background@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo/mobile-promo-background@2x.jpg");
  }
}

.promo::after {
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 1;
}

.promo__heading {
  .heading-h1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: @default-all-color-light;
  padding: 7px 0 7px 10px;
}

.promo__text {
  display: block;
  font-family: @font-main;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 19px 0 28px 6px;
  padding: 0;
}

.promo__btn {
  .primary-btn;
  margin: -1px -4px -8px 4px;
}

.promo__img {
  display: block;
  padding-left: 4px;
}

@media (min-width: @tablet-width) {
  .promo {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .promo::before {
    display: none;
  }

  .promo::after {
    display: none;
  }

  .promo__container {
    padding: 0;
  }

  .promo__body {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 70px 450px 148px;
    z-index: 2;
    position: relative;
  }

  .promo__header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 16px 0 20px 19px;
  }

  .promo__heading {
    justify-content: flex-start;
    align-items: start;
    color: @default-secondary-color-dark;
    padding-left: 0;
  }

  .promo__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 13px 0 20px 20px;
  }

  .promo__btn {
    position: relative;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
    margin: 30px 0 0 20px;
    z-index: 1;
  }

  .promo__img {
    display: block;
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    padding: 0;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    position: static;
    padding: 0;
  }

  .promo::before,
  .promo::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 50%;
    height: 694px;
    z-index: -1;
  }

  .promo::before {
    background-image: url("../img/promo/desktop-promo-background@1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/desktop-promo-background@2x.jpg");
    }
  }

  .promo::after {
    background-color: rgba(104, 183, 56, 0.85);
    z-index: 1;
  }

  .promo__body {
    display: grid;
    grid-template-rows: 65px min-content min-content min-content 50px;
    grid-template-columns: 355px 555px 190px;
    width: 1000px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 85px;
    z-index: 2;
  }

  .promo__header {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-top: 5px;
    margin-left: -6px;
  }

  .promo__text {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 8px 0 40px -5px;
    padding: 0;
  }

  .promo__btn {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    height: 54px;
    margin: 0 0 123px -5px;
    padding: 0;
  }

  .promo__img {
    grid-row: 1 / 5;
    grid-column: 2 / 4;
    padding: 6px 0 0 7px;
  }
}
