.slider {
  width: 100%;
  min-height: 256px;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-color: #666666;
  width: 4px;
  height: 256px;
  top: -10px;
  left: 140px;
  z-index: 2;
}

.slider::after {
  content: "";
  position: absolute;
  background-image: url("../img/slider/switcher.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 2;
}

.slider__item {
  display: grid;
  grid-area: 1 / 1;
}

.slider__item--before {
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translate(-100%, 0);
  width: 50%;
}

.slider__item--after {
  position: absolute;
  left: 50%;
  transform: translate(0, 0);
  top: 1px;
  width: 50%;
}

.slider__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 256px;
  margin: 0 auto;
}

.slider__item img {
  position: absolute;
  bottom: 12px;
  transform: translate(-50%, 0);
}

.slider__item--before img {
  left: 100%;
}

.slider__item--after img {
  left: 0;
}

// Tablet
@media (min-width: @tablet-width) {
  .slider {
    min-height: 512px;
  }

  .slider::after {
    content: "";
    position: absolute;
    mask: url("../img/steck.svg#tablet_switcher") 50% 50%;
    mask-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 512px;
    top: -10px;
    left: -63px;
    z-index: 2;
  }

  .slider__box {
    min-height: 512px;
  }

  .slider__item--before img {
    left: 100%;
    width: 100%;
    min-height: 512px;
  }

  .slider__item--after img {
    left: 0;
    width: 100%;
    min-height: 512px;
  }
}
