.slider {
  width: 100%;
  min-height: 256px;
  margin-top: 10px;
  position: relative;
}

.slider__item {
  display: grid;
  grid-area: 1 / 1;
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
}

.slider__item img {
  position: absolute;
  width: 280px;
  min-height: 256px;
  bottom: 12px;
  transform: translate(-50%, 0);
}

// Толстый кот

.slider__item--before {
  transform: translate(-100%, 0);
}

.slider__item--before img {
  left: 100%;
}

// Тонкий кот

.slider__item--after {
  transform: translate(0, 0);
}

.slider__item--after img {
  left: 0;
}

.slider__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 256px;
  margin: 0 auto;
}

.slider__button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 100px;
  left: 115px;
  z-index: 2;
  border: none;
  outline: none;
  background-color: transparent;
}

.slider__button svg {
  display: block;
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.slider__button::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-color: #666666;
  width: 4px;
  min-height: 256px;
  top: -110px;
  left: 23px;
  z-index: -1;
  border-radius: 10px;
}

.slider__button::before:hover {
  background-color: @icon-hover-fill;
}

.slider__button::before:active {
  background-color: rgba(94, 170, 47, 1);
}

.slider__button:hover {
  stroke: @icon-hover-fill;
}

.slider__button:active {
  stroke: rgba(94, 170, 47, 1);
}

// Tablet
@media (min-width: @tablet-width) {
  .slider {
    min-height: 512px;
    margin-top: 56px;
  }

  .slider__item--before img {
    left: 100%;
    width: 560px;
    min-height: 512px;
  }

  .slider__item--after img {
    left: 0;
    width: 560px;
    min-height: 512px;
  }

  .slider__box {
    min-height: 512px;
  }

  .slider__button {
    top: 221px;
    left: 328px;
  }

  .slider__button::before {
    min-height: 512px;
    top: -235px;
    left: 24px;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .slider {
    margin-top: -314px;
    min-height: 0;
  }

  .slider__item {
    left: 57%;
  }

  .slider__button {
    top: 224px;
    left: 294px;
  }

  .slider__button::before {
    min-height: 512px;
    top: -235px;
    left: 24px;
  }
}
