.slider {
  width: 100%;
  min-height: 256px;
  margin-top: 10px;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-color: #666666;
  width: 4px;
  min-height: 256px;
  top: -10px;
  left: 142px;
  z-index: 2;
}

.slider::after {
  content: "";
  position: absolute;
  background-image: url("../img/slider/switcher.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 2;
}

.slider__item {
  display: grid;
  grid-area: 1 / 1;
  position: absolute;
  left: 51%;
  top: 1px;
  width: 50%;
}

.slider__item img {
  position: absolute;
  width: 280px;
  min-height: 256px;
  bottom: 12px;
  transform: translate(-50%, 0);
}

// Толстый кот

.slider__item--before {
  transform: translate(-100%, 0);
}

.slider__item--before img {
  left: 100%;
}

// Тонкий кот

.slider__item--after {
  transform: translate(0, 0);
}

.slider__item--after img {
  left: 0;
}

.slider__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 256px;
  margin: 0 auto;
}

// Tablet
@media (min-width: @tablet-width) {
  .slider {
    min-height: 512px;
    margin-top: 56px;
  }

  .slider::before {
    min-height: 512px;
    top: -10px;
    left: 358px;
  }

  .slider::after {
    top: 0;
    left: 0;
  }

  .slider__item--before img {
    left: 100%;
    width: 560px;
    min-height: 512px;
  }

  .slider__item--after img {
    left: 0;
    width: 560px;
    min-height: 512px;
  }

  .slider__box {
    min-height: 512px;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .slider {
    margin-top: 10px;
  }

  .slider__item {
    left: 57%;
  }

  .slider::before {
    top: -10px;
    left: 318px;
  }

  .slider::after {
    top: 0;
    left: 0;
  }
}
