.header {
  padding-bottom: 6px;
  z-index: 50;
  position: relative;
  overflow: hidden;
}

.header__container {
  .container;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  min-height: 40px;
  padding-top: 10px;
  position: relative;
}

// /* Бургер меню */-------------------------------------------------------------
.header__burger--opened,
.header__burger--closed {
  position: absolute;
  top: 20px;
  right: -2px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: @logo-hover-opacity;
  }

  &:focus {
    opacity: @logo-focus-opacity;
  }

  &:active {
    opacity: @logo-active-opacity;
  }
}

.header__burger--opened {
  background-image: url("../img/logo/burger_open.svg");
  width: 24px;
  height: 24px;
}

.header__burger--closed {
  background-image: url("../img/logo/burger_close.svg");
  width: 18px;
  height: 18px;
}

// Отображение навигации
.header__navigation--opened {
  display: block;
}

.header__navigation--closed {
  display: none;
}

// Планшет -----------------------------------------------------------------
@media (min-width: @tablet-width) {
  .header {
    padding-bottom: 8px;
  }

  .header__container {
    padding: 0;
  }

  .header__wrapper {
    min-height: 50px;
    justify-content: left;
    padding-top: 20px;
  }

  // Отображение навигации
  .header__burger {
    display: none;
  }

  // Отображение навигации
  .header__navigation--opened {
    display: block;
  }

  .header__navigation--closed {
    display: block;
  }
}

// Десктоп --------------------------------------------------------------------
@media (min-width: @desktop-width) {
  .header__wrapper {
    min-height: 60px;
    padding-top: 50px;
  }
}
