.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  margin: 0;
  width: 320px;
  padding: 10px 20px;
  box-sizing: border-box;
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
