.header {
  position: relative;
}

.header__container {
  @media (min-width: @tablet-width) {
    .container;
    padding: 0;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 50px;
    justify-content: left;
    padding: 0;
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    min-height: 60px;
    padding-top: 55px;
  }
}

@media (max-width: @mobile-width-only) {
  .header {
    position: relative;
    z-index: 5;
  }

  .header__mobile {
    .container;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    min-height: 40px;
    position: relative;
  }

  .header__burger--no-js {
    display: none;
  }

  .header__burger--opened,
  .header__burger--closed {
    position: absolute;
    top: 7px;
    right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: @logo-hover-opacity;
    }

    &:focus {
      opacity: @logo-focus-opacity;
    }

    &:active {
      opacity: @logo-active-opacity;
    }
  }

  .header__burger--opened {
    background-image: url("../img/logo/burger_open.svg");
    width: 24px;
    height: 24px;
  }

  .header__burger--closed {
    background-image: url("../img/logo/burger_close.svg");
    width: 18px;
    height: 18px;
  }

  .header__navigation--opened {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 10;
  }

  .header__navigation--closed {
    display: none;
  }

  // Меню в потоке
  .header__navigation--no-js {
    position: static;
    top: 10px;
  }
}

// Планшет -----------------------------------------------------------------
@media (min-width: @tablet-width) {
  .header__mobile {
    display: flex;
    align-items: center;
  }

  .header__burger--opened,
  .header__burger--closed {
    display: none;
  }
}
