.navigation {
  position: relative;
  background-color: rgb(255, 255, 255);
}

.navigation__wrapper {
  position: relative;
}

.navigation__item {
  border-top: 1px solid rgb(230, 230, 230);
}

.navigation__link {
  display: block;
  padding: 20px;
  font-family: @font-main;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @default-secondary-color-dark;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.navigation__link:hover {
  color: @hover-secondary-color-dark;
}

.navigation__link:focus {
  color: @focus-secondary-color-dark;
}

.navigation__link:active {
  color: @active-secondary-color-dark;
}

@media (min-width: @tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
  }

  .navigation__item {
    border-top: none;
    border-bottom: none;
    padding: 10px;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  .navigation__link--current {
    position: relative;
  }

  .navigation__link--current::after {
    content: "";
    position: absolute;
    background-color: @default-primary-background;
    width: 100%;
    height: 2px;
    bottom: -12px;
    left: 0;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    padding: 0;
    background-color: transparent;
  }

  .navigation__list {
    margin-left: auto;
  }

  .navigation__item {
    border: none;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 20px;
    color: @default-all-color-light;
  }

  .navigation__link--catalog,
  .navigation__link--form {
    color: @default-secondary-color-dark;
  }

  .navigation__link--current-main::after {
    background-color: @default-all-color-light;
  }

  .navigation__link--current-main:hover::after {
    background-color: @hover-secondary-color-dark;
  }

  .navigation__link--current-main:focus::after {
    background-color: @focus-secondary-color-dark;
  }

  .navigation__link--current-main:active::after {
    background-color: @active-secondary-color-dark;
  }
}
