.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  min-height: 38px;
  padding: 20px;
  background-color: #ffffff;
}

.page-header__icon--text {
  background-position: center;
  width: 101px;
  height: 18px;
}

.page-header__button {
  display: none;
}
