.slider {
  position: relative;
}

.slider__cat {
  display: block;
  width: 240px;
}

// Tablet
@media (min-width: @tablet-width) {
  .slider__wrapper {
    position: static;
    width: 100%;
    min-height: 462px;
    background-color: rgb(234, 234, 234);
  }

  .slider__cat {
    width: 400px;
    position: absolute;
    top: -150px;
    left: 100px;
  }
}
