.footer {
  position: relative;
  background-color: @default-third-background;
}

.footer__container {
  .container;
  display: grid;
  place-items: center;
  row-gap: 18px;
  min-height: auto;
  padding: 47px 0 38px 9px;
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__social {
  display: flex;
  min-width: 132px;
  min-height: 22px;
}

.footer__partner {
  display: flex;
  min-height: 34px;
}

.footer__line {
  .deviding-line;
}

// Tablet
@media (min-width: @tablet-width) {
  .footer {
    padding: 60px 0 20px 0;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
    padding: 0;
    box-sizing: border-box;
  }

  .footer__partner {
    width: 168px;
  }

  .footer__line {
    display: none;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .footer__container {
    min-height: 169px;
  }

  .footer__line {
    display: none;
  }
}
