.footer {
  position: relative;
  background-color: @default-third-background;
}

.footer__container {
  .container;
  display: grid;
  place-items: center;
  row-gap: 19px;
  min-height: auto;
  padding: 40px 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 155px;
    padding: 0;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    min-height: 0;
    padding: 68px 0 65px 0;
    align-content: center;
    flex-wrap: wrap;
  }
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    min-width: 168px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 168px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  min-width: 132px;
  min-height: 22px;
}

.footer__partner {
  display: flex;
  min-height: 34px;

  @media (min-width: @tablet-width) {
    min-width: 168px;
  }
}

.footer__line {
  .deviding-line;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
