.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: flex;
  padding: 0;
}

.page-footer__icon-text {
  width: 128px;
  box-sizing: border-box;
  color: #111111;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 20px;
}

.page-footer__partner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 280px;
  margin-top: 20px;
}
